*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
:root{
    --bg-color: linear-gradient(to bottom right, #C33764, #1D2671);
    --second-bg-color: #000066;
    --text-color: #93A5CF ;
    --main-color: #0099ff;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #4E65FF;
    box-shadow: 0 0 5px  #92EFFD,
                0 0 25px #4E65FF;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 2.5rem;
    font-family: 'Cedarville Cursive'; font-size: 22px;
    color:  #A9F1DF;
    font-weight: 600;
    cursor: default;   
}
.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active{
    color: #0099ff;
}
#menu-icon{
    font-size: 3.6 rem;
    color: var(--text-color);
    display: none;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-img img{
    width: 75%;
    border: 1px solid #A1C4FD ;
    box-shadow: 0 0 5px  #C2E9FB,
                0 0 25px #A1C4FD ;
    height: auto;
    border-top-left-radius: 75%;
    border-bottom-right-radius: 75%;
}    
 
.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
} 
.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}
span{
    color: #E4EfE9;
}
.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content p{
    font-size: 1.6rem;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border: 2rem solid transparent;
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s easne;
}
.social-media a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5 ease;
}
.btn:hover{
    box-shadow: none;   
}